Windows.zip filter=lfs diff=lfs merge=lfs -text
Windows/Engine filter=lfs diff=lfs merge=lfs -text
Windows/Manifest_NonUFSFiles_Win64.txt filter=lfs diff=lfs merge=lfs -text
Windows/Manifest_UFSFiles_Win64.txt filter=lfs diff=lfs merge=lfs -text
Windows/Milestones filter=lfs diff=lfs merge=lfs -text
Windows/playable-release.exe filter=lfs diff=lfs merge=lfs -text
Windows/Milestones/Binaries filter=lfs diff=lfs merge=lfs -text
Windows/Milestones/Content filter=lfs diff=lfs merge=lfs -text
Windows/** filter=lfs diff=lfs merge=lfs -text
playable-release.zip filter=lfs diff=lfs merge=lfs -text
Playable-Release.zip filter=lfs diff=lfs merge=lfs -text
Releases/Initial-Release-Windows/Milestones/Content/Paks/Milestones-Windows.pak filter=lfs diff=lfs merge=lfs -text
Releases/Initial-Release-Windows/Milestones/Content/Paks/Milestones-Windows.ucas filter=lfs diff=lfs merge=lfs -text
Releases/Initial-Release-Windows.zip filter=lfs diff=lfs merge=lfs -text
Milestones/Milestones/Content/Visual/Particles/XrayWallSystem.uasset filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.ucas filter=lfs diff=lfs merge=lfs -text
C:/Users/ryand/LocDocuments/IndieGames/gp2[[:space:]]repo/Releases/Release-0.5-win/Windows/Milestones/Content/paks/Milestones-Windows.ucas filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Releases/Release-0.5-win.zip filter=lfs diff=lfs merge=lfs -text
